.footer {
    background-color: #111111;
    color: rgba(255, 255, 255, 0.5);
    padding: 2rem 0 2rem 0;
    & > div {
        margin: 0 auto;
        width: 75rem;
        max-width: calc(100% - 6rem);
        & > div {
            display: flex;
            & > section {
                width: 50%;
                padding: 0 10px;
            }
        }
    }
  }

.copyright {
    border-top: 1px solid;
    font-size: 0.8rem;
    opacity: 0.5;
    padding: 2rem 0;
    justify-content: center;
}

.plain {
    list-style: none;
    padding-left: 0;
    & > li {
        margin-bottom: 1rem;
        display: flex;
        &:hover {
            color: #970505;
        }
        & > a {
            margin-left: 3px;
        }
    }
}

.call {
    background-color: rgb(210 2 2 / 70%);
    padding: 7px;
    box-sizing: content-box;
    border-radius: 50%;
    color: white;
    position: fixed;
    z-index: 55;
    bottom: 5px;
    right: 5px;
    width: 24px;
    height: 24px;
    &:hover {
        background-color: rgb(255 10 10);
    }
}