@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #202020 ;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

h1 {
  color: #fff;
  font-size: 4rem;
  font-weight: 300;
  line-height: 1.5;
  text-transform: uppercase;
  margin: 0 0 1.5rem;
}

@media (max-width: 450px) {
  h1 {
    font-size: 3rem;
  }
}

h3 {
  text-transform: uppercase;
  font-weight: 400;
}
